$orange : #cc4b00;
$yellow : #ffc700;
$light-blue: #006ef5;
$blue: #004eae;
$dark-blue: #013371;
$light-gray: #cccccc;
$gray: #767676;
$dark-gray: #333333;
$white: #ffffff;

$color__background-body: $white;
$color__background-screen: $white;
$color__background-hr: $light-gray;
$color__background-button: #e6e6e6;
$color__background-pre: $light-gray;
$color__background-ins: $light-gray;

$color__text-screen: $dark-gray;
$color__text-input: $gray;
$color__text-input-focus: $dark-gray;
$color__link: $orange;
$color__link-visited: $orange;
$color__link-hover: darken($orange, 9%);
$color__text-main: $dark-gray;

$color__border-button: $light-gray;
$color__border-button-hover: $light-gray;
$color__border-button-focus: $light-gray;
$color__border-input: $light-gray;
$color__border-abbr: $gray;
