
.main-navigation {
	@include clearfix;
	display: block;
	width: 100%;
	background-color: $blue;
	border-color: $white;
	border-style: solid;
	border-width: 2px 2px 0;

	.nav-menu {
		/* mobile menu */
		display: none;

		@include breakpoint(m) {
			/* full menu */
			@include clearfix;
		}
	}

	&.toggled {
		ul {
			@include clearfix;
		}
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		.menu-item {
			float: none;

			@include breakpoint(m) {
				float: left;
			}
		}

		.menu-item a {
			padding: $gutter;
		}

		.menu-item a:hover,
		.menu-item a:active {
			background-color: $dark-blue;
		}

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			/* no sub-menus for now */
			&.sub-menu {
				display: none;
			}

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

.menu-toggle {
	display: block;

	@include breakpoint(m) {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
