.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 #{$gutter};
}

.post {
  @include clearfix;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.wrap,
.content-area {
  margin: 0 auto;
  max-width: $content-max-width;
  width: 95%;
}

.entry-content-wrapper {
  @include breakpoint(m) {
    float: left;
    max-width: #{map-get($columns, 3) * 2};
  }

  @include breakpoint(l) {
    max-width: #{map-get($columns, 3) * 1};
  }
}

.entry-thumbnail-wrapper {
  @include breakpoint(m) {
    float: left;
    margin: 0 #{$gutter} 0 0;
  }

  @include breakpoint(l) {
    max-width: #{map-get($columns, 3) * 2};
  }
}

.entry-thumbnail {
  margin: 0;
}

.entry-title {
  margin: 0;
}

.entry-content {
  *:first-child {
    margin: 0 0 0 0;
  }
}

.more-link {
  display: inline-block;
  margin: #{$gutter} 0 0 0;
  padding: 0 #{$gutter} 0 0;

  &::after {
    content: '';
    display: inline-block;
    // background-image: url('./../images/cheveron-right.svg');
    background-image: svg-load('./../images/cheveron-right.svg', fill=#{$orange});
    background-position: center left;
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
  }
}